<div class="message-view">
  <h1><%= link_to 'Chat Box!', root_path %></h1>
  <div class="control-box row">
    <%= text_area_tag 'message', nil, placeholder: 'Say something&hellip;'.html_safe,
      id: 'message-content' %>
    <%= link_to 'Send', '#', class: 'btn btn-primary pull-right', id: 'send-message' %>
  </div>

  <% if params[:room].present? %>
    <h2 class="text-center"><%= params[:room] %></h2>
  <% end %>
  <div id="messages" class="row">
    <% @messages.each do |message|
        message_class =
        if current_user == message.user
          "my-chat-line"
        else
          "chat-line"
        end %>

        <%= react_component("MessageItem",
                              username: message.user.username,
                              message: message.text,
                              classType: message_class) %>
    <% end %>
  </div>
</div>
